main
{
    padding: 57px  27px;
    color: white;
    background-image: url('../assets/logo.png');
    background-repeat: no-repeat;
    background-position: right 90px;

}

ul li
{
    padding: 7px;
   
}

li::marker {
    font-size: 1.5rem;
    color: #61DAFB;
}